# envs/prod.env
node_modules
build
build.zip
.history
.env
.clinic
protected/games/**/*.*
protected/images/*.*
package-lock.json
yarn.lock

prisma/client

db
logs/errors/*.*
logs/exceptions/exceptions.log
timer.txt

.htaccess
api/
stderr.log
tmp/
.env
